/* Estilos globales */

html, body {
    min-height: 100%;
    min-width: 100%;
    background-color: #FFFFFF;
    font-family: 'Roboto-Regular', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}